.star-main {
  animation: scaleMainAnimation 2s ease-in-out infinite alternate;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

/* Efectos de rotación para la función setOpen de la estrella principal del botón */
@keyframes rotateStarOpen {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateStarClose {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

/* Efecto de escalado para la estrella principal del botón */
@keyframes scaleMainAnimation {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.star-main.rotate-open {
  animation: rotateStarOpen 0.5s ease-in-out forwards;
}

.star-main.rotate-close {
  animation: rotateStarClose 0.5s ease-in-out forwards;
}
/*=================================================================*/

/* Efecto de transición de colores para la estrella principal del botón */
.star-main path {
  animation: colorTransition 6s ease-in-out infinite alternate;
}
/*=================================================================*/

/* Efecto de aro desplazandose detrás de la estrella principal del botón */
@keyframes expandAndFade {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  50% {
    transform: scale(2);
    opacity: 0.8;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.button-container::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 14%;
  top: 27%;
  animation: expandAndFade 4s linear infinite;
}

/* Alineación del aro y la estrella principal para pantallas chicas */
@media (max-width: 768px) {
  .button-container::before {
    left: 16%;
  }
}
/*=================================================================*/

/* Transiciones para las estrellas secundarias */
@keyframes scaleSatelliteAnimation {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1);
  }
}

.star-satellite-1 {
  position: relative;
  top: -0.5rem;
  left: -1rem;
  animation: scaleSatelliteAnimation 1.5s ease-in-out infinite alternate;
}

.star-satellite-1 path {
  animation: colorTransition 6s ease-in-out infinite alternate;
}

.star-satellite-2 {
  position: relative;
  bottom: -0.5rem;
  left: -1rem;
  animation: scaleSatelliteAnimation 1.5s 1s ease-in-out infinite alternate;
}

.star-satellite-2 path {
  animation: colorTransition 6s ease-in-out infinite alternate;
}
/*=================================================================*/

/* Transiciones de colores para todas las estrellas del botón */
@keyframes colorTransition {
  0% {
    fill: #c6ffdd;
  }
  50% {
    fill: #fbd786;
  }
  100% {
    fill: #f7797d;
  }
}
/*=================================================================*/
